*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    height: 100vh;
    width: 100%;
    font-family: "Alegreya Sans";
}


/* nav */

nav .nav { 
    padding: 0px 60px;
}

nav .nav .navl {
    float: left;
    padding-top: 20px;
}

nav .nav .navr {
    float: right;
}

nav .nav .navr ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav .navr ul li {
    font-family: "Alegreya";
    line-height: 70px;
    font-size: 18px;
    padding: 7px 15px;
}
nav .nav .navr ul li a{
    text-decoration: none;
}

.active {
    border-top: 3px solid #AD9667;
}

.item a:hover {
    color: #AD9667;
}




/* home */

.home{
    background-image: url('img/home1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 100vh;

}

.home .contain{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 250PX;
}

.home .contain p {
    font-size: 23px;
    font-weight: 400;
    width: 50%;
    line-height:2;
    margin: auto;
}
.home .contain  h1 {
    font-family: "Alegreya";
    font-size: 76px;
    font-weight: 300;
    margin-bottom: 15px;
} 

.home .contain .btn {
    background-color: transparent;
    font-family: "Alegreya Sans";
    font-size: 18px;
    padding: 18px 30px;
    border: none;
    cursor: pointer;
}

.home .contain .btn1 {
    margin-right: 20px;
    background-color: #8e7754;
    color: #fff;
}
.home .contain .btn2{
    color: #fff;
    border: 2px solid #fff;
}
.home .contain .btn1:hover , .home .contain .btn2:hover {
    background-color: #ffffff;
    color: #000000;
}




/* location */

.location{
    width: 100%;
    display: flex;
    background-color: #F8F8F8;
    justify-content: space-between;
    padding: 100px 70px;

}
.location .text{
    font-family: "Alegreya";
    font-size: 17px;
    color: #8e7754;
    padding: 40px 85px 0 0px;
}
.location .text h2{
    color: #303030;
    font-size: 33px;
    font-weight: 100;
}

.location .text p{
    font-family: "Alegreya Sans";
    color: #686868;
    font-size: 17px;
    font-weight: 500;
    line-height: 2;
    margin: 25px 0;
}


/* baking */

.baking{
    background-color: #fff;
    text-align: center;
    width: 100%;
    padding: 60px;
}
.baking .text{
    text-align: center;
    margin-bottom: 50px;
}
.baking .text h2{
    font-family: "Alegreya";
    color: #303030;
    font-size: 30px;
    font-weight: 400;
}
.baking .text p{
    font-family: "Alegreya Sans";
    color: #888888;
    font-size: 17px;
    line-height: 2;
}
.baking .items{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
}

.baking .item h3 {
    font-family: "Alegreya";
    color: #303030;
    font-size: 23px;
    font-weight: 400;
    padding-top: 20px;
}

.baking .item p {
    font-family: "Alegreya Sans";
    color: #888888;
    font-size: 17px;
    font-weight: 500;
    line-height: 2;
    margin: 15px 0;
}

.clear-fix{
    clear: both;
}

